In [1]:
import pandas as pd

In [2]:
link = "C:/Users/Raffie/OneDrive - Legalmatch/Personal/13 Team Process Metrics/"

In [3]:
crs = pd.read_csv(link+"CR Sets.csv")
crc = pd.read_csv(link+"CR Completed.csv")
ems = pd.read_csv(link+"EM Set.csv")
deals = pd.read_csv(link+"Deals.csv")

In [4]:
crs_clean = crs.dropna(subset=['Opportunity Name'])
#crs_clean.tail(10)

In [5]:
crc_clean = crc.dropna(subset=['Opportunity Name'])
#crc_clean.tail(10)

In [6]:
ems_clean = ems.dropna(subset=['Opportunity Name'])
#ems_clean.tail(10)

In [7]:
deals_clean = deals.dropna(subset=['Sales Team'])
#deals_clean.tail(10)

In [8]:
combined = pd.DataFrame(columns=['Process Tracking For','Sales Team','Opportunity Name',
                                'Case Review Set', 'Case Review Completed', 'Enrollment Meeting Set',
                                'Order Date','Membership Fee (After Discount)'])

In [9]:
crs_combined = crs_clean[['Process Tracking For','Opportunity Name','Case Review Set']]
#crs_combined.head(10)

In [10]:
crc_combined = crc_clean[['Process Tracking For','Opportunity Name','Case Review Completed']]
#crc_combined.head(10)

In [11]:
ems_combined = ems_clean[['Process Tracking For','Opportunity Name','Enrollment Meeting Set']]
#ems_combined.head(5)

In [12]:
deals_combined = deals_clean[['Allocation Manager','Deal: Deal Name','Order Date','Membership Fee (After Discount)']]

#deals_combined.head(5)

In [13]:
deals_combined = deals_combined.rename(columns={'Allocation Manager':'Process Tracking For',
                                               'Deal: Deal Name':'Opportunity Name'})
deals_combined.tail(5)

,Process Tracking For,Opportunity Name,Order Date,Membership Fee (After Discount)
3,Drew Daniel,Annabelle Robertson 3.12.20,3/11/2020,15022.80
4,Jamaya Armstead,Matthew Lepore 03.09.2020,3/9/2020,20716.56
5,Josh Henriksen,Stephen Drazin 3.10.20,3/10/2020,11520.00
6,Kim Pina,Timothy Mina Ghobrial - LEAD - 3.12.20,3/13/2020,5184.00
7,Rob Roback,Daniel Friedson 3.13.20,3/13/2020,15215.40

In [14]:
frames= [crs_combined,crc_combined,ems_combined,deals_combined]

In [15]:
final_combined = pd.concat(frames,axis = 0,join='outer',sort=False)

In [16]:
#final_combined.tail(100)

Need to add code to remove test entries in final_combined DataFrame

In [17]:
final_combined['Opportunity Name'] = final_combined['Opportunity Name'].str.lower()

In [18]:
final_combined = final_combined[~final_combined['Opportunity Name'].str.contains('test')]

In [19]:
final_combined.to_csv(link+'final_combined.csv',index = False, header = True)

In [20]:
teamList = pd.read_csv(link+'Team List.csv')

In [22]:
teamList = teamList[['Full Name','Team']]

In [23]:
teamList.head()

         Full Name             Team
0     Jimmy Ingram  Team Carmichael
1   Beck Pemberton  Team Carmichael
2    Callie Savage  Team Carmichael
3  Neal Carmichael  Team Carmichael
4     Chris Browne  Team Carmichael

In [24]:
final_combined.head(5)

,Process Tracking For,Opportunity Name,Case Review Set,Case Review Completed,Enrollment Meeting Set,Order Date,Membership Fee (After Discount)
0,George Cazares,nicholas tebelekian ig 1.14.20,3/9/2020,NaN,NaN,NaN,NaN
1,Cheri Ramos,maxwell douglas carter- lead 8.09.19,3/9/2020,NaN,NaN,NaN,NaN
2,April Jeras,william sterling williams- 1.21.20,3/9/2020,NaN,NaN,NaN,NaN
3,Jeremy Voehl,carl gregory hawkins - lead - 2.13.20,3/9/2020,NaN,NaN,NaN,NaN
4,Drew Daniel,travis connor sheffield - ig lead - 2.27.20,3/10/2020,NaN,NaN,NaN,NaN

In [27]:
combined_wTeamList = final_combined.join(teamList)

In [32]:
combined_wTeamList.head()

,Process Tracking For,Opportunity Name,Case Review Set,Case Review Completed,Enrollment Meeting Set,Order Date,Membership Fee (After Discount),Full Name,Team
0,George Cazares,nicholas tebelekian ig 1.14.20,3/9/2020,NaN,NaN,NaN,NaN,Jimmy Ingram,Team Carmichael
0,Rhayne Thomas,daniel friedson,NaN,3/13/2020,NaN,NaN,NaN,Jimmy Ingram,Team Carmichael
0,Alani Fajardo1,ellen gregory 03.13.2020,NaN,NaN,NaN,3/13/2020,10800.0,Jimmy Ingram,Team Carmichael
1,Cheri Ramos,maxwell douglas carter- lead 8.09.19,3/9/2020,NaN,NaN,NaN,NaN,Beck Pemberton,Team Carmichael
1,Tammey Hess,jason roger paul mcneily - lead - 2.27.20,NaN,3/9/2020,NaN,NaN,NaN,Beck Pemberton,Team Carmichael

In [36]:
sales_update = combined_wTeamList[combined_wTeamList['Team'].isna()]

In [37]:
sales_update = sales_update['Process Tracking For']

In [40]:
sales_update.head(5)

314    Jeremy Voehl
315    Jeremy Voehl
316    Jeremy Voehl
317    Jeremy Voehl
Name: Process Tracking For, dtype: object

In [60]:
sales_update = set(sales_update)
sales_update = list(sales_update)

In [59]:
pd.DataFrame({'Sales Rep For Update':sales_update})
#sales_update.to_csv(link+'Sales Rep For Update.csv', index=True, Header=True)

ValueError: If using all scalar values, you must pass an index

In [46]:
type(sales_update)

set