In [1]:
import pandas as pd

In [2]:
link = "C:/Users/Raffie/OneDrive - Legalmatch/Personal/13 Team Process Metrics/"

In [3]:
crs = pd.read_csv(link+"CR Sets.csv")
crc = pd.read_csv(link+"CR Completed.csv")
ems = pd.read_csv(link+"EM Set.csv")
deals = pd.read_csv(link+"Deals.csv")

In [4]:
crs_clean = crs.dropna(subset=['Opportunity Name'])
#crs_clean.tail(10)

In [5]:
crc_clean = crc.dropna(subset=['Opportunity Name'])
#crc_clean.tail(10)

In [6]:
ems_clean = ems.dropna(subset=['Opportunity Name'])
#ems_clean.tail(10)

In [7]:
deals_clean = deals.dropna(subset=['Sales Team'])
#deals_clean.tail(10)

In [8]:
combined = pd.DataFrame(columns=['Process Tracking For','Sales Team','Opportunity Name',
                                'Case Review Set', 'Case Review Completed', 'Enrollment Meeting Set',
                                'Order Date','Membership Fee (After Discount)'])

In [9]:
crs_combined = crs_clean[['Process Tracking For','Opportunity Name','Case Review Set']]
#crs_combined.head(10)

In [10]:
crc_combined = crc_clean[['Process Tracking For','Opportunity Name','Case Review Completed']]
#crc_combined.head(10)

In [11]:
ems_combined = ems_clean[['Process Tracking For','Opportunity Name','Enrollment Meeting Set']]
#ems_combined.head(5)

In [12]:
deals_combined = deals_clean[['Allocation Manager','Deal: Deal Name','Order Date','Membership Fee (After Discount)']]

#deals_combined.head(5)

In [26]:
deals_combined = deals_combined.rename(columns={'Allocation Manager':'Process Tracking For',
                                               'Deal: Deal Name':'Opportunity Name'})
deals_combined.tail(5)

,Process Tracking For,Opportunity Name,Order Date,Membership Fee (After Discount)
3,Drew Daniel,Annabelle Robertson 3.12.20,3/11/2020,15022.80
4,Jamaya Armstead,Matthew Lepore 03.09.2020,3/9/2020,20716.56
5,Josh Henriksen,Stephen Drazin 3.10.20,3/10/2020,11520.00
6,Kim Pina,Timothy Mina Ghobrial - LEAD - 3.12.20,3/13/2020,5184.00
7,Rob Roback,Daniel Friedson 3.13.20,3/13/2020,15215.40

In [27]:
frames= [crs_combined,crc_combined,ems_combined,deals_combined]

In [28]:
test = pd.concat(frames,axis = 0,join='outer',sort=False)

In [29]:
test.tail(100)

,Process Tracking For,Opportunity Name,Case Review Set,Case Review Completed,Enrollment Meeting Set,Order Date,Membership Fee (After Discount)
88,Jamaya Armstead,Chris Hittel,NaN,3/11/2020,NaN,NaN,NaN
89,Jamaya Armstead,Mitchell Miller,NaN,3/12/2020,NaN,NaN,NaN
90,Jamaya Armstead,Isabel Diaz Barroso,NaN,3/11/2020,NaN,NaN,NaN
91,Lorraine Martinez,David H. Popper,NaN,3/11/2020,NaN,NaN,NaN
92,Lorraine Martinez,Susan Keen,NaN,3/13/2020,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3,Drew Daniel,Annabelle Robertson 3.12.20,NaN,NaN,NaN,3/11/2020,15022.80
4,Jamaya Armstead,Matthew Lepore 03.09.2020,NaN,NaN,NaN,3/9/2020,20716.56
5,Josh Henriksen,Stephen Drazin 3.10.20,NaN,NaN,NaN,3/10/2020,11520.00
6,Kim Pina,Timothy Mina Ghobrial - LEAD - 3.12.20,NaN,NaN,NaN,3/13/2020,5184.00
7,Rob Roback,Daniel Friedson 3.13.20,NaN,NaN,NaN,3/13/2020,15215.40

In [21]:
deals_combined.tail(10)

,Allocation Manager,Deal: Deal Name,Order Date,Membership Fee (After Discount)
0,Alani Fajardo1,Ellen Gregory 03.13.2020,3/13/2020,10800.00
1,Candy Mcauliffe,Mark Weingart 3.9.20,3/9/2020,6435.00
2,Christine Gorum,Shannin B Render 3.9.20,3/9/2020,15022.80
3,Drew Daniel,Annabelle Robertson 3.12.20,3/11/2020,15022.80
4,Jamaya Armstead,Matthew Lepore 03.09.2020,3/9/2020,20716.56
5,Josh Henriksen,Stephen Drazin 3.10.20,3/10/2020,11520.00
6,Kim Pina,Timothy Mina Ghobrial - LEAD - 3.12.20,3/13/2020,5184.00
7,Rob Roback,Daniel Friedson 3.13.20,3/13/2020,15215.40